# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'cmd-shift-b': 'platomformio:build'
  'cmd-shift-u': 'platomformio:upload'
  'cmd-shift-c': 'platomformio:clean'
  'cmd-shift-e': 'platomformio:close'
  'cmd-shift-k': 'platomformio:kill-process'
